
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}

.container{
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.box{
    width: 30%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 7px 7px gray;
    background-size: cover;
    margin-top: 100px;
}
.box img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
.box h3{
    margin-left: 15px;
}
.box p{
    font-size: 16px;
    line-height: 20px;
    height: 40%;
    padding: 0 15px 15px 15px;
    overflow: hidden;
}
#btn{
    background-color: #fff;
    color:#16a085;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .5rem; 
    box-shadow: var(--box-shadow);
}
.btn:hover{
    background: var(--green);
    color:#16a085 ;
}
.btn:hover span{
    color: var(--green);
    background: #16a085;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    transition: opacity 0.75s visibility 0.75s;
}

.loader--hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: #99A3A4  ;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{ transform: rotate(0turn); }
    to{transform: rotate(1turn);}

}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: white;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #16a085;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px ;
    color: #99A3A4;
    text-decoration: none;
}
nav li a:hover{
    color: #16a085 ;
    transition: all 0.4s ease 0s;
}

footer{
    background-color: rgb(234, 230, 230);
    font-weight: bold;
    color: rgb(102, 101, 101);
    position:absolute;
    margin-top: 50px;
    
    width: 100%;
    height: px;
}

footer p{
    font-weight: bold;
    color: gray;
    text-align: center;
    font-size: 10px;
    padding: 5px;
}

@media(max-width:991px){
    html{
    font-size: 55%;
    }
}